{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ entryTitle }}
{% endblock %}

{% block body %}
    <h1> {{ entryTitle }} </h1>    
    <a class="btn btn-outline-secondary" href="/wiki/{{ entryTitle }}/edit" role="button">Edit</a>
    <p> {{ entry|safe }} </p>
    {% if edit %}
        <form action="{% url 'entry' entry=entryTitle %}" method="post">
        {% csrf_token %}
        {{ form }} 
        <button type="submit" class="btn btn-outline-secondary">Save</button>
        </form>
    {% endif %}
{% endblock %}